@{
    ViewBag.Title = "SportEventList";
}
<div class="sport-event-container">
    <img src="~/Content/Images/soccer-ball-128.png" class="sport-event-img"/>
    <div class="sport-event-info-col1">
        <span class="sport-event-info-label">Lokalizacja: </span> <span class="sport-event-info">Marszałkowska 200, Warszawa</span>
        <br />
        <span class="sport-event-info-label">Data: </span> <span class="sport-event-info">2000-00-00</span>
        <br />
        <span class="sport-event-info-label">Godzina: </span> <span class="sport-event-info">00:00</span>
    </div>
    <div class="sport-event-info-col2">
        <span class="sport-event-info-label">Lokalizacja: </span> <span class="sport-event-info">Marszałkowska 200, Warszawa</span>
        <br />
        <span class="sport-event-info-label">Data: </span> <span class="sport-event-info">2000-00-00</span>
        <br />
        <span class="sport-event-info-label">Godzina: </span> <span class="sport-event-info">00:00</span>
    </div>
</div>